.logo {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
}

nav {
  box-shadow: 1px 10px 22px -5px rgba(114, 99, 99, 0.75);
  width: 100%;
}

.navbar-nav .nav-item {
  margin-right: 20px; /* Adjust the margin between nav items */
}
